
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-center {
    justify-content: center;
    align-items: center;
}

.flex-center-top {
    justify-content: center;
    align-items: start;
}

.flex-center-bottom- {
    justify-content: center;
    align-items: end;
}

.flex-left-top {
    justify-content: start;
    align-items: start;
}

.flex-left-center {
    justify-content: start;
    align-items: center;
}

.flex-rigth-top {
    justify-content: end;
    align-items: start;
}